@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --primary: 46 33% 29%;
    --accent: 0 0% 98%;
    --text: 0 0% 12;
    --border: 47 33% 73%;
    --background: 51 33% 88%;
    --dark: 0 0% 12;
    --gt: "GTAmericaExpended", sans-serif;
    --sans: "BasicCommercial", "Helvetica", sans-serif;
  }

  @font-face {
    font-family: 'NeueWorldCondensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PPNeueWorld-CondensedRegular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'BasicCommercial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/basic-commercial-regular.woff) format('woff');
  }

  @font-face {
    font-family: 'GTAmericaExtended';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/GT-America-Extended-Regular-Trial.woff2) format('woff2');
  }

  body{
    @apply bg-background
  }  
}

@layer utilities{
  .__hero-section{
    background-image: url('/assets/new_tiny_video_header.mp4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}