@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --primary: 46 33% 29%;
    --accent: 0 0% 98%;
    --text: 0 0% 12;
    --border: 47 33% 73%;
    --background: 51 33% 88%;
    --dark: 0 0% 12;
    --gt: "GTAmericaExpended", sans-serif;
    --sans: "BasicCommercial", "Helvetica", sans-serif;
    --serif: "NeueWorldCondensed", "Century", serif;
  }

  body{
    @apply bg-background
  }  
}