---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Arusa">
	<h1 class="text-3xl font-serif font-normal">Hello World</h1>
	<h1 class="text-3xl font-sans font-normal">Hello World</h1>
	<h1 class="text-3xl font-gt font-normal">Hello World</h1>
</Layout>

<style>
	
</style>
