---
import Container from "../layouts/Container.astro";
import { ViewTransitions } from "astro:transitions";
---

<div class="fixed top-8 z-10 w-full">
  <Container>
    <header>
      <div class="flex justify-between items-center">
        <button class="flex items-center gap-4">
          <div class="flex flex-col gap-1">
            <div class="w-6 h-px bg-white"></div>
            <div class="w-6 h-px bg-white"></div>
            <div class="w-6 h-px bg-white"></div>
          </div>
          <span class="uppercase font-gt text-[10px] text-white">shop</span>
        </button>
        <a class="font-bold text-3xl text-white" href="/">Arusa</a>
        <div>
          <button class="flex items-center gap-4">
            <span class="uppercase font-gt text-[10px] text-white">bag</span>
            <div class="size-6 rounded-full bg-primary text-white">
              <span class="text-xs __bag-counter">0</span>
            </div>
          </button>
        </div>
      </div>
    </header>
  </Container>
</div>
<div class="w-full h-dvh absolute bg-black">
  <div class="w-full absolute h-full z-10">
    <Container
      className="h-full flex flex-col items-center justify-center text-center text-white"
    >
      <h1 class="text-8xl font-serif max-w-3xl __hero-title">
        <span>SEAMLESS</span>
        <span>FURNITURE</span>
        <span>WITH NATURAL</span>
        <span>FABRICS</span>
      </h1>
      <button
        class="px-8 py-2 uppercase text-[10px] text-primary rounded-md bg-background font-gt hover:bg-primary hover:text-white transition __fadeInUp"
      >
        shop all
      </button>
    </Container>
  </div>
  <video autoplay loop muted class="h-full w-full opacity-85 object-cover">
    <source src="/assets/new_tiny_video_header.mp4" type="video/mp4" />
  </video>
</div>
